.body {
  color: #1b262c;
  font-family: "Lato", sans-serif;
  padding: 15px;
  background-image: url(../img/background.png);
}

.body--dark {
  background: #191b4e;
  color: white;
  background-image: url(../img/background.png);
}
