.table__cell {
    border: 0px solid #ffffff;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: medium;
    border-radius: 100px;
}

.table__caption {
    caption-side: top;
    text-align: left;
    padding: 0 0 15px 0;
    font-size: larger;
    font-weight: bold;
}

.table__header {
    color: #00BCD4;
    background-color: #252573;
    font-size: large;
    font-weight: normal;
    border: 0px solid #ffffff;
}

.table__row {
    background: #009688;
}

.table__row:nth-child(even) {
    background: #6698c4;
}

.table__row:hover {
    background-color: #9ad0ff;
}

.tableContainer {
    overflow-x: auto;
}
